<mat-card
  [class.neutral]="run.conclusion === conclusion.CANCELLED"
  [class.failure]="run.conclusion === conclusion.FAILURE"
  [class.in-progress]="run.status === status.IN_PROGRESS || run.status === status.QUEUED"
>
  <mat-card-header>
    <mat-icon mat-card-avatar matTooltip="Queued" *ngIf="run.status === status.QUEUED">dynamic_feed</mat-icon>
    <mat-icon mat-card-avatar matTooltip="In progress" *ngIf="run.status === status.IN_PROGRESS">pending</mat-icon>
    <mat-icon mat-card-avatar matTooltip="Success" class="icon-success" *ngIf="run.conclusion === conclusion.SUCCESS">check_circle</mat-icon>
    <mat-icon mat-card-avatar matTooltip="Failure" class="icon-failure" *ngIf="run.conclusion === conclusion.FAILURE">cancel</mat-icon>
    <mat-icon mat-card-avatar matTooltip="Cancelled" *ngIf="run.conclusion === conclusion.CANCELLED">error</mat-icon>
    <mat-card-title>{{ run.repository.owner.login }} :: {{ run.repository.name }}
      :: {{ run.head_branch }}</mat-card-title>
    <mat-card-subtitle>#{{ run.run_number }} - {{ run.name }} - {{ run.event }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <a mat-icon-button matTooltip="GitHub Workflow Run" [href]="run.html_url" target="_blank" class="material-icons">
      <mat-icon inline=true svgIcon="github" class="brand-icon"></mat-icon>
    </a>
  </mat-card-actions>
  <mat-card-footer *ngIf="run.status === status.IN_PROGRESS">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
