.in-progress {
  background-color: #f0f5fc;
}

.failure {
  background-color: #f8e5e5;
}

.neutral {
  background-color: #e8e8e8;
}

.icon-success {
  color: #339900;
}

.icon-failure {
  color: #cc3300;
}

.brand-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
