<ng-container [ngSwitch]="workflowRun.status">
  <mat-icon mat-card-avatar matTooltip="Queued" *ngSwitchCase="status.QUEUED">dynamic_feed</mat-icon>
  <mat-progress-spinner mode="indeterminate" diameter="24" *ngSwitchCase="status.IN_PROGRESS"
                        color="accent"></mat-progress-spinner>
  <ng-container *ngSwitchDefault>
    <ng-container [ngSwitch]="workflowRun.conclusion">
      <mat-icon mat-card-avatar matTooltip="Success" *ngSwitchCase="conclusion.SUCCESS">check_circle</mat-icon>
      <mat-icon mat-card-avatar matTooltip="Failure" *ngSwitchCase="conclusion.FAILURE">cancel</mat-icon>
      <mat-icon mat-card-avatar matTooltip="Cancelled" *ngSwitchCase="conclusion.CANCELLED">error</mat-icon>
      <mat-icon mat-card-avatar matTooltip="Skipped" *ngSwitchCase="conclusion.SKIPPED">skip_next</mat-icon>
    </ng-container>
  </ng-container>
</ng-container>

