<mat-table [dataSource]="workflowRuns$">
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">
      <mat-icon mat-card-avatar matTooltip="Queued" *ngIf="workflowRun.status === status.QUEUED">dynamic_feed</mat-icon>
      <mat-progress-spinner mode="indeterminate" diameter="24"
                            *ngIf="workflowRun.status === status.IN_PROGRESS"></mat-progress-spinner>
      <mat-icon mat-card-avatar matTooltip="Success" class="icon-success"
                *ngIf="workflowRun.conclusion === conclusion.SUCCESS">check_circle
      </mat-icon>
      <mat-icon mat-card-avatar matTooltip="Failure" class="icon-failure"
                *ngIf="workflowRun.conclusion === conclusion.FAILURE">cancel
      </mat-icon>
      <mat-icon mat-card-avatar matTooltip="Cancelled" *ngIf="workflowRun.conclusion === conclusion.CANCELLED">error
      </mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="repository-owner">
    <mat-header-cell *matHeaderCellDef>Repository Owner</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.repository.owner.login }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="repository-name">
    <mat-header-cell *matHeaderCellDef>Repository Name</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.repository.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="event">
    <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.event }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="run-number">
    <mat-header-cell *matHeaderCellDef>Run Number</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.run_number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="head-branch">
    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.head_branch }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">{{ workflowRun.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="html-url">
    <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
    <mat-cell *matCellDef="let workflowRun">
      <a mat-icon-button matTooltip="GitHub Workflow Run" [href]="workflowRun.html_url" target="_blank"
         class="material-icons">
        <mat-icon inline=true svgIcon="github" class="brand-icon"></mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
  <mat-row
    *matRowDef="let workflowRun; columns: columnsToDisplay"
    [class.neutral]="workflowRun.conclusion === conclusion.CANCELLED"
    [class.failure]="workflowRun.conclusion === conclusion.FAILURE"
    [class.in-progress]="workflowRun.status === status.IN_PROGRESS || workflowRun.status === status.QUEUED">
  </mat-row>
</mat-table>
