<table mat-table [dataSource]="workflowRuns$" multiTemplateDataRows>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let workflowRun">
      <mat-icon mat-card-avatar matTooltip="Queued" *ngIf="workflowRun.status === status.QUEUED">dynamic_feed</mat-icon>
      <mat-progress-spinner mode="indeterminate" diameter="24"
                            *ngIf="workflowRun.status === status.IN_PROGRESS"></mat-progress-spinner>
      <mat-icon mat-card-avatar matTooltip="Success" class="icon-success"
                *ngIf="workflowRun.conclusion === conclusion.SUCCESS">check_circle
      </mat-icon>
      <mat-icon mat-card-avatar matTooltip="Failure" class="icon-failure"
                *ngIf="workflowRun.conclusion === conclusion.FAILURE">cancel
      </mat-icon>
      <mat-icon mat-card-avatar matTooltip="Cancelled" *ngIf="workflowRun.conclusion === conclusion.CANCELLED">error
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="repository">
    <th mat-header-cell *matHeaderCellDef>Repository</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.repository.full_name }}</td>
  </ng-container>

  <ng-container matColumnDef="head-branch">
    <th mat-header-cell *matHeaderCellDef>Branch</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.head_branch }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.name }}</td>
  </ng-container>

  <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.event }}</td>
  </ng-container>

  <ng-container matColumnDef="run-started-at">
    <th mat-header-cell *matHeaderCellDef>Run Started At</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.run_started_at | date:'medium' }}</td>
  </ng-container>

  <ng-container matColumnDef="run-number">
    <th mat-header-cell *matHeaderCellDef>Run Number</th>
    <td mat-cell *matCellDef="let workflowRun">{{ workflowRun.run_number }}</td>
  </ng-container>

  <ng-container matColumnDef="html-url">
    <th mat-header-cell *matHeaderCellDef>Link</th>
    <td mat-cell *matCellDef="let workflowRun">
      <a mat-icon-button matTooltip="GitHub Workflow Run" [href]="workflowRun.html_url" target="_blank"
         (click)="$event.stopPropagation()" class="material-icons">
        <mat-icon inline=true svgIcon="github" class="brand-icon"></mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="expander">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let workflowRun">
      <mat-icon *ngIf="!isExpandedWorkflowRun(workflowRun)">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="isExpandedWorkflowRun(workflowRun)">keyboard_arrow_up</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedWorkflowRun">
    <td mat-cell *matCellDef="let workflowRun" [attr.colspan]="columnsToDisplay.length">
      <div class="workflow-run-detail"
           [@detailExpand]="isExpandedWorkflowRun(workflowRun) ? 'expanded' : 'collapsed'">
        <actio-workflow-run-details *ngIf="isExpandedWorkflowRun(workflowRun)" [workflowRun]="workflowRun">
        </actio-workflow-run-details>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row
      *matRowDef="let workflowRun; columns: columnsToDisplay"
      [class.neutral]="workflowRun.conclusion === conclusion.CANCELLED"
      [class.failure]="workflowRun.conclusion === conclusion.FAILURE"
      [class.in-progress]="workflowRun.status === status.IN_PROGRESS || workflowRun.status === status.QUEUED"
      (click)="toggleExpandedWorkflowRun(workflowRun)"
      class="workflow-run-row">
  </tr>
  <tr mat-row *matRowDef="let workflowRun; columns: ['expandedWorkflowRun']" class="workflow-run-detail-row"></tr>
</table>
