table {
  width: 100%;
}

.workflow-run-detail {
  overflow: hidden;
}

.workflow-run-detail-row {
  height: 0;
}

.workflow-run-row td {
  border-bottom-width: 0;
}

.workflow-run-row:hover {
  cursor: pointer;
  filter: brightness(95%);
}

