#page {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#sidenav-container {
  flex-grow: 1;
}

#sidenav {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  width: 240px;
}

.settings-form {
  display: flex;
  flex-direction: column;
}
