#page {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#toolbar {
  min-height: 60px;
}

#footer {
  height: 30px;
  min-height: 30px;
  display: flex;
  gap: 16px;
}

#sidenav-container {
  flex-grow: 1;
}

#sidenav {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field {
  width: 240px;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

#settings {
  display: flex;
  justify-content: space-between;
}

.centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
