<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <span *ngIf="user$ | async as user">{{ user.name }}</span>
</mat-toolbar>
<div style="height: calc(100vh - 64px);">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column">
      <div class="container">
        <form [formGroup]="configurationFormGroup">
          <h2>Settings</h2>
          <mat-form-field appearance="outline">
            <mat-label>GitHub Token</mat-label>
            <input matInput type="password" [formControl]="tokenControl">
            <mat-icon matSuffix>key</mat-icon>
          </mat-form-field>
          <br/>
          <mat-label>Polling Interval</mat-label>
          <br/>
          <mat-slider min="10" max="60" step="1" thumbLabel="true"
                      [formControlName]="pollingIntervalControlKey">
          </mat-slider>
          <h2>Filter</h2>
          <span>
          <mat-form-field appearance="outline">
            <mat-label>Teams</mat-label>
            <mat-select multiple [formControlName]="teamsSelectionControlKey" [compareWith]="compareTeams">
              <mat-option *ngFor="let option of teams$ | async" [value]="option">
                {{ option.slug }} ({{ option.organization.login }})
              </mat-option>
            </mat-select>
          </mat-form-field>
          </span>
          <br/>
          <span>
          <mat-form-field appearance="outline">
            <mat-label>repositories</mat-label>
            <mat-select multiple [formControlName]="teamRepositoriesSelectionControlKey">
              <mat-optgroup *ngFor="let teamRepository of teamRepositories$ | async" [label]="'Team ' + teamRepository.team.slug">
              <mat-option *ngFor="let repository of teamRepository.repositories" [value]="{team: teamRepository.team, repository: repository}">
                {{ repository.name }}
              </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          </span>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select multiple [formControlName]="statusSelectionControlKey">
              <mat-option *ngFor="let option of workflowRunStatus" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Conclusion</mat-label>
            <mat-select multiple [formControlName]="conclusionSelectionControlKey">
              <mat-option *ngFor="let option of workflowRunConclusions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Workflow Names</mat-label>
            <mat-chip-list #chipList aria-label="Workflow Name Selection" [formControlName]="workflowNameSelectionControlKey">
              <mat-chip *ngFor="let name of workflowNamesFilter$ | async" (removed)="remove(name)">
                {{ name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Add Workflow Name..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="chipSeparatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <actio-workflow-run-grid></actio-workflow-run-grid>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
