<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <span *ngIf="user$ | async as user">{{ user.name }}</span>
</mat-toolbar>
<div style="height: calc(100vh - 64px);">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column">
      <div class="container">
        <form [formGroup]="configurationFormGroup">
          <h2>Settings</h2>
          <mat-form-field appearance="outline">
            <mat-label>GitHub Token</mat-label>
            <input matInput type="password" [formControl]="tokenControl">
            <mat-icon matSuffix>key</mat-icon>
          </mat-form-field>
          <br/>
          <mat-label>Polling Interval</mat-label>
          <br/>
          <mat-slider min="10" max="60" step="1" thumbLabel="true"
                      [formControlName]="pollingIntervalControlKey">
          </mat-slider>
          <h2>Filter</h2>
          <span>
          <mat-form-field appearance="outline">
            <mat-label>Teams</mat-label>
            <mat-select multiple [formControlName]="teamsSelectionControlKey" [compareWith]="compareTeams">
              <mat-option *ngFor="let option of teams$ | async" [value]="option">
                {{ option.slug }} ({{ option.organization.login }})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select multiple [formControlName]="statusSelectionControlKey">
              <mat-option *ngFor="let option of workflowRunStatus" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="outline">
            <mat-label>Conclusion</mat-label>
            <mat-select multiple [formControlName]="conclusionSelectionControlKey">
              <mat-option *ngFor="let option of workflowRunConclusions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <actio-workflow-run-grid></actio-workflow-run-grid>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
