$orange-palette: (
  50 : #fceee4,
  100 : #f7d6ba,
  200 : #f2ba8d,
  300 : #ec9e5f,
  400 : #e88a3c,
  500 : #e4751a,
  600 : #e16d17,
  700 : #dd6213,
  800 : #d9580f,
  900 : #d14508,
  A100 : #fffcfb,
  A200 : #ffd6c8,
  A400 : #ffb095,
  A700 : #ff9d7b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$blue-palette: (
  50 : #e6ecf0,
  100 : #c0d0da,
  200 : #96b1c1,
  300 : #6c91a8,
  400 : #4d7a96,
  500 : #2d6283,
  600 : #285a7b,
  700 : #225070,
  800 : #1c4666,
  900 : #113453,
  A100 : #8bc5ff,
  A200 : #58acff,
  A400 : #2592ff,
  A700 : #0c85ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$black-palette: (
  50 : #e1e3e3,
  100 : #b4b8ba,
  200 : #82898c,
  300 : #505a5d,
  400 : #2b363b,
  500 : #051318,
  600 : #041115,
  700 : #040e11,
  800 : #030b0e,
  900 : #010608,
  A100 : #4eb7ff,
  A200 : #1ba3ff,
  A400 : #0089e7,
  A700 : #007ace,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$red-palette: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$background-color: #2a2c2b;
